<div id="main" class="clear_fix">

	<div id="content" class="left">
		<div id="like_boxes" class="clear_fix">
		  <% for like in LangMapping.statistics do %>
			<div class="like_box">
				<div class="clear_fix">
					<div class="count"><%= like.total_btns_count.to_i %></div>
					<div class="info">
						<div class="like"><%= link_to like.like_text, detail_lang_mapping_path(like) %></div>
						<div class="city">
						  <% like.top_cities.each do |result| %>
							<div><%= display_location result %></div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
			<% end %>
		
		</div>
	</div>


	<div id="top_list" class="left" >
		<div id="top_list_arrows" class="verticaltext"> >>>>>>>>>>>>>> </div>
		<div id="top_list_title">TOP <%= @top_langs.length %> LANGUAGES</div>
		<% @top_langs.each do |lang| %>
		<div class="item"><%= lang.lang_name %></div>
		<% end %>
		<div id="circle_in_out"><img src="images/circle_out2.png"></div>
	</div>

</div>