<h1>Listing shared_images</h1>

<table>
  <tr>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shared_images.each do |shared_image| %>
  <tr>
    <td><%= image_tag shared_image.data.url(:large) %></td>
    <td><%= link_to 'Show', shared_image %></td>
    <td><%= link_to 'Edit', edit_shared_image_path(shared_image) %></td>
    <td><%= link_to 'Destroy', shared_image, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shared image', new_shared_image_path %>
