<div style="padding: 10px 20px 20px 20px;">
	<div style="font-size:23px;margin-bottom:10px;">Magnet Screenshots</div>

	<% @shared_images.each do |shared_image| %>

    <span style="padding: 2px;"><%= image_tag shared_image.data.url(:large) %></span>

    <!-- <td><%= link_to 'Show', shared_image %></td> -->
    <!-- <td><%= link_to 'Edit', edit_shared_image_path(shared_image) %></td> -->

		<!-- <td><%= link_to 'Destroy', shared_image, :confirm => 'Are you sure?', :method => :delete %></td> -->

	<% end %>

</div>

<br />

<%= link_to 'New Shared image', new_shared_image_path %>
