<div id="logs_index_page">
  <table>
    <colgroup>
      <col width="340">
      <col width="320">
      <col width="80">
      <col width="80">
      <col width="80">
      <col width="100">
    </colgroup>
    
    <tr>
      <th>title</th>
      <th>url</th>
      <th>count</th>
      <th>type</th>
      <th>locale</th>
      <th>location</th>
    </tr>

  <% @disabling_logs.each do |disabling_log| %>
    <tr>
      <td><%= disabling_log.title %></td>
      <td><%= link_to truncate(disabling_log.url, :length => 50, :omission => '...'), disabling_log.url %></td>
      <td><%= disabling_log.button_count %></td>
      <td><%= disabling_log.button_type %></td>
      <td><%= disabling_log.locale %></td>
      <td><%= disabling_log.location %></td>
    </tr>
  <% end %>
  </table>
</div>
