<!DOCTYPE html>
<html>
<head>
  <title>Magnet</title>
	<!-- <link href='http://fonts.googleapis.com/css?family=Neucha' rel='stylesheet' type='text/css'> -->
	<link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="counter_container">
    <div id="counter">
      <span class="desc"># LIKE DISABLED</span>
      <span id="counter_data">
        <%= display_count @count %>
      </span>
    </div>
  </div>
  
  <div id="header" class="clear_fix">
    <div id="logo"><img src="/images/logo.png" /></div>		
  </div>
  
  <div id="main_container">
    <div id="main">
      <%= yield %>
    </div>
  </div>

  <div id="footer">
    
  </div>

  <script type="text/javascript" charset="utf-8">
    $(function() {
      setInterval("getCountNum()", 2000);
    });
  </script>
  <%= yield :foot %>
</body>
</html>
