<!DOCTYPE html>
<html>
<head>
  <title>Magnet</title>
  <meta name="google-site-verification" content="t4NllCtzqEyu2hU99nn43Wl2rz-gy2iYzEOryvcZNGk" />
  
	<!-- <link href='http://fonts.googleapis.com/css?family=Neucha' rel='stylesheet' type='text/css'> -->
	<link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag 'layout' %>
  <%= javascript_include_tag 'jquery.min', 'jquery.timeago', 'raphael-min', 'pie', 'rails', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  
	<!-- <div id="counter_container">
	    <div id="counter">
	      <span class="desc"># LIKE DISABLED</span>
	      <span id="counter_data">
	        <%= display_count @count %>
	      </span>
	    </div>
	  </div> -->
	
	<div id="menu" class="clear_fix">
		<div id="selection" class="left">
			<a id="logo">ANTI-LIKE MAGNET</a>
			<a class="item" href="/"> DATA</a>
			<a class="item_selected" href="/about"> ABOUT</a>
		</div>
		<div id="update" class="left">
			<span id="timestamp"><%= time_ago_in_words @latest_log.created_at %> ago</span>:
			<span id="info"><%= @latest_log.location %></span>
		</div>
	</div>
		
   
  <%= yield %>
  
  <script type="text/javascript" charset="utf-8">
    $(function() {
      setInterval("getCountNum()", 3000);
    });
  </script>
  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-20216223-3']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  
  <script src="http://static.getclicky.com/js" type="text/javascript"></script>
  <script type="text/javascript">try{ clicky.init(66381885); }catch(err){}</script>
  <noscript><p><img alt="Clicky" width="1" height="1" src="http://in.getclicky.com/66381885ns.gif" /></p></noscript>
  <%= yield :foot %>
</body>
</html>
